<template name="activity">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Project Activity in <a class="activitySort" href="#">{{activitySort}}</a> order.</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {{#each calevents}}
          {{>calevent}}
        {{else}}
        <h5>No Activity Found !</h5>
        {{/each}}
      </ul>
      <hr>
      <ul class="list-group">
        {{#each todos}}
          {{#if completed}}
          {{>todoevent}}
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

</template>
<template name="calevent">
  <li class="list-group-item">
    <a href="#" class="activityEvent">{{formatdate start}}</a>

    <div class="alert alert-success">{{#if title}}{{title}}{{else}}{{name}}{{/if}}</div>
  </li>
</template>
<template name="todoevent">
  <li class="list-group-item">
    <a href="#" class="activityEvent">{{#if completed}}{{formatdate dateadded}}{{/if}}</a>

    <div class="alert alert-success">{{#if completed}}{{note}}{{/if}}</div>
  </li>
</template>
