<template name="invited">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Invite</h3>
    </div>
    <div class="panel-body">
      <a href="#" class="emailInvite">Invite Through Email</a><hr/>

      <p>Search for users</p>




      <select id="userToBeInvited" name="userToBeInvited">
        {{#each userList}}
            <option value="{{_id}}">{{profile.name}}</option>
        {{/each}}
      </select>
            <button class="btn btn-info inviteUser">Add User</button>
      <hr/>

       <p>Members in peoject</p>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">ROLE</th>
            <th class="col-md-1">Remove</th>
        </thead>



                   <tbody>
                   {{#with invitedMembers.owner}}
                        <tr>

                            <td>{{ownername}}</td>
                            <td>LEADER</td>
                            <td></td>
                        </tr>
                    {{/with}}


                        {{#each invitedMembers.invites}}
                            <tr>
                                <td>{{targetname}}</td>
                                <td> <select class="membersInProject" name="membersInProject" id="{{_id}}">
                                    <option value="select">--ROLES--</option>
                                   <option value="member" >MEMBER</option>
                                   <option value="leader">LEADER</option>
                                   
                                </select></td>
                                <td><button class="removeUser" id="{{_id}}"><i class="fa fa-trash "></i></button></td>
                            </tr>


                        {{/each}}
                   </tbody>
    </table>






<hr/>

    </div>
  </div>
</template>
<template name="sendInvite">
  <div class="modal fade in show" id="emailDlg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeEmail" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Add Members</h4>
        </div>
        <div class="modal-body">
        <input type="email" name="enterEmail" id="enterEmail" placeholder="Add email address">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeEmail" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary sendEmail">Send</button>
        </div>
      </div>
    </div>
  </div>

</template>
<!--
<template name="showMembers">
    <div class="modal fade in show" id="showlDlg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeSeeMembers" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">MEMBERS IN YOUR PROJECT</h4>
                </div>
                <div class="modal-body">
                    <p>Members in your peoject</p>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-1">Remove</th>
                        </thead>
                        {{#each invited}}


                            <tbody>
                            <tr>
                                <td>{{targetname}}</td>
                                <td><button class="removeUserButton" id="{{_id}}"><i class="fa fa-trash "></i></button></td>
                            </tr>

                            </tbody>
                        {{/each}}
                    </table>

                </div>

            </div>
        </div>
    </div>

</template>
-->
