

<template name="main">
{{#if editing_event}}
{{> dialog}}
{{/if}}
<div class="container">
  <div id="calendar">

</div>
</div>
</template>
<template name="dialog">
<div class="modal fade in show" id="" tabindex="-1" role="dialog" arialabelledby="" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close closeDialog" data-dismiss="modal" aria-hidden="true">&times;</button>

<h4 class="modal-title" id="">Edit event</h4>
</div>
<div class="modal-body">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title" placeholder="Enter a title" value="{{title}}">
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary updateTitle">Save</button>
<button type="button" class="btn btn-danger removeEvent" data-dismiss="modal">Remove</button>
<button type="button" class="btn btn-default closeDialog" data-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>
</template>

