.darken {
    position:relative;
    top:inherit;
    left: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height:90vh;
    background-size: cover;
    float: left;
    background-image:
    linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url('images/pma.jpg');
}
.centertitle{
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c7254e;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin: 0;
    text-emphasis: circle;
    font-size: 3rem;
    white-space: nowrap;
}
p {
    margin: 0;
    color: #c7254e;
    font-size: 1.5rem;
}
.start{
    background:transparent;

    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 2px;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 2px 0 0;
    border-color: #c7254e;
    transition: all 0.3s ease 0s;

}