<template name="timeline">
  <div class="container-fluid">
    <ol class="breadcrumb">

        <li><a href="/projects/{{_id}}"><i class="fa fa-gear"></i>ProjectView</a></li>
        <li><a href="/dashboard"><i class="fa fa-cubes"></i> Projects</a></li>
        <li class="active"><i class="fa fa-gear"></i>TimeLine</li>
    </ol>
    <p>Hello time line!</p>
    <ul class="timeline">


        {{#each project}}
            <li>

                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4>{{ownername}}created a new project {{name}}!</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ date}}</small></p>
                    </div>

                </div>
            </li>
         {{/each}}



        {{#each task}}
            <li  class="timeline-inverted">
                <div class="tl-circ"></div>

                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4>new task {{note}} assigned to {{targetname}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ date}}</small></p>
                    </div>

                </div>
            </li>
        {{/each}}





        {{#each invite}}
            <li>
                <div class="tl-circ"></div>

                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4>{{myname}} invited {{targetname}} to project {{projectname}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ date}}</small></p>
                    </div>

                </div>
            </li>
        {{/each}}


        {{#each accepted}}
            <li  class="timeline-inverted">
                <div class="tl-circ"></div>

                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4>{{targetname}} joined  project {{projectname}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ date}}</small></p>
                    </div>

                </div>
            </li>
        {{/each}}
        {{#each todos}}
            {{#if completed}}
                <li>
                    <div class="tl-circ"></div>

                    <div class="timeline-panel">
                        <div class="tl-heading">
                            <h4>Task {{note}} has been completed on </h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ date}}</small></p>
                        </div>

                    </div>
                </li>
            {{/if}}
        {{/each}}

    </ul>
  </div>
</template>
