// Bootstrap Variables
@import "./bootstrap/variables.import.less";

// Custom Variables
@brand-primary:rgba(213,0,0 ,1);
@jumbotron-color:white;
@jumbotron-bg:#1976D2;
@navbar-default-bg: rgba(0,150,136 ,1);
@navbar-default-brand-color:white;
@navbar-default-link-color:white;
