<template name="mainLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning">
    <strong><i class="icon-exclamation-sign"></i> Warning</strong>
     - You are using an <strong>outdated</strong> browser.
     Please <a href="http://browsehappy.com/" target="_blank">
     upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <!--The header is always the same-->
  {{> yield region="header"}}
  <div class="container-fluid">
    <div class="row">
        <!--Our sidebar will display navigation within the project-->
      {{>sidebar}}
      <div class="col-md-10">
          <!--Our yield will display the main content-->
        {{> yield}}
              {{> GlobalNotifications}}
      </div>
    </div>
  </div>
  <!--The footer is always the same-->
  {{> yield region="footer"}}
</template>
