<template name="conversations">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Conversation List</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
         
		<p>
        	<input class="biginput" type="text" name="messageEnter" id="messageEnter" placeholder="Send a message" value="">
      		</p>

           <!-- <a href="#" class="addConversation"> Start a Conversation.</a>{{> uploads}} </h5>-->

{{#if adding_conversation}}
{{>conversationDlg}}
{{/if}}
      
          <hr>
          <table>
            {{#each conversations}}

              {{>conversation}}

            {{/each}}
          </table>
      </div>
    </div>
  </div>
</template>
<template name="conversation">
  <tr>
    

    <td class="col-md-2">{{myname}}</td>

    <td class="col-md-5">{{name}}</td>
    <td class="col-md-2">{{formatdate date}}</td>
    

  </tr>

</template>
<template name="uploads">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Uploads</h3>
    </div>
    <div class="panel-body">
      Add Files &nbsp;
      <span class="btn btn-default btn-file">Browse <input type="file" name="myFileInput" class="myFileInput"></span>
      <div class="fileTable">
        <table class="table table-hover table-striped table-responsive">
          <thead>
            <th>File Name</th>
            <th></th>
          </thead>
          <tbody>
          {{#each uploads}}
            {{>upload}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>
<template name="upload">
  <tr>
<td class="col-md-1">{{myname}}</td>
    <td class="col-md-10">{{theFile}}</td>
    <td><a target="_blank" href="{{url download=true}}" class="btn btn-primary"><i class="fa fa-download"></i></a></td>
  </tr>
</template>


