<template name="conversationDlg">
  <div class="modal fade in show" id="conversationDlg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeconversation" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Converse</h4>
        </div>
        <div class="modal-body">
          <textarea  id="conversationtext" placeholder="Add a brief note here." class="noborder form-control conversationtext"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeconversation" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary saveconversation">Save</button>

        </div>
      </div>
    </div>
  </div>
</template>

   
