

<template name="messagechat">
  <div id="wrapper">
       {{> sidebara }}
       <div id="page-content-wrapper">
          <h1>Chat!!!!!!</h1>
          
          {{> input }}
          {{> messages }}
      </div>
  </div>
</template>


<template name="sidebara">
    <div id="sidebara-wrapper">
        <ul class="sidebara-nav onlUsers">
            <li class="sidebara-brand">
                <a href="#">
                    Online Users
                </a>
            </li>
            {{#each onlusr}}
                <li class="user"><a href='#'>{{username}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>

<template name="messages">
  {{#each msgs}}
    <strong>{{name}}:</strong> {{text}}<br>
  {{/each}}
</template>

<template name="input">
  <p>Message: <input type="text" id="message"></p>
</template>
