<template name="header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><span>{{ siteTitle }}</span></a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <i class="fa fa-user"> {{ currentUser.profile.name }}</i> <i class="fa fa-caret-down"></i>
              </a>
            </li>
              <li>
                    <a href="{{pathFor 'entrySignOut'}}" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a>
              </li>


          </ul>
          

        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'entrySignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'entrySignUp' }}" class="btn btn-primary navbar-btn">Register</a>
          </div>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          <li class="{{ isActiveRoute regex='/home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li>
          <li class="{{ isActivePath regex='/dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>
        </ul>
      </div>

    </div>
  </nav>

</template>
