<template name="loading">
  <div class="loading">
    <i class="fa fa-circle-o-notch fa-3x fa-spin"></i>
  </div>
</template>
<template name="entrySignOut">
<h2>You have successfully logged out</h2>
</template>
