<template name="sidebar">
  {{#if currentUser}}
  <div class="col-md-2 hidden-xs hidden-sm">
    <ul class="nav nav-sidebar">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-gear"></i> Dashboard</a></li>

      <li><a href="{{pathFor 'archives'}}"><i class="fa fa-database"></i> Archives</a></li>

      
    </ul>

  </div>
  {{/if}}
</template>
