<template name="myuploads">
    <h3>Files Uploaded For This Project</h3>

    <table class="table table-hover table-striped table-responsive">
        <thead>
        <th>File Name</th>
        <th>Uploaded For Task</th>
        <th>Uploaded By</th>
        <th>Guide</th>
        </thead>
          <tbody>
          {{#each uploads}}
            <tr>
                <td>{{fileName}}</td>
                <td>{{taskName}}</td>
                <td>{{taskOwnerName}}</td>
                <td>{{guide}}</td>
            </tr>
           {{/each}}
          </tbody>
    </table>
</template>