<template name="dashboard">
  {{#if projectToDelete}}
    {{>delconfirm}}
  {{/if}}

  {{#if my_invites}}
    {{>showRequest}}
   {{/if}}

   {{#if projectInfo}}
       {{>ProjectInfo}}
   {{/if}}
  <div class="dashboard">
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>
      <li class="active"><i class="fa fa-gear"></i> Dashboard</li>
        <li><a href="#" class="requestBox"><i class="fa fa-gear">People</i> </a>
            {{#if requestCount}}
                <span class="badge badge-inverse">{{requestCount}}</span>
            {{/if}}</li>

    </ol>
    <div class="page-header">
       <button class="btn btn-success createProject">Create Project</button>
      <!-- We added css to make this input look cloaked -->
      <p>
        <input class="biginput" type="text" name="projectNameEnter" id="projectNameEnter" placeholder="Add A Project" value="">
      </p>
    </div>
    <h5> Projects listed by <a class="sortToggle" href="#">name</a></h5>
    <div>
      {{#each projects}}

              {{>project}}


      {{else}}
          <h4>No Projects Found !</h4>
      {{/each}}



      {{#if hasRequest}}
              {{> showRequest}}
      {{/if}}


    </div>
  </div>
</template>
<template name="project">
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <p class="pull-right">
            <!-- We need to click this trash can to prompt for deletion -->
            <i class="fa fa-trash deleteConfirmation"></i>
          </p>
          <p>
            <h5>
              <a href="/projects/{{_id}}"><h3>{{name}}</h3></a>
              <br/>  Entered on {{formatdate dateentered}}
            </h5>
          </p>
        </h3>
      </div>
      <div class="panel-body">
        <small>
          <span>{{guidename}}</span>
        </small>
        <br/>
        <small>
          <span>Ending on {{formatdate endDate}}</span>
        </small>
      </div>

    </div>
  </div>
</template>
<template name="AddedByOthers">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <p class="pull-right">
                        <!-- We need to click this trash can to prompt for deletion -->
                        <i class="fa fa-trash deleteConfirmation"></i>
                    </p>
                    <p>
                    <h5>
                        <a href="/projects/{{_id}}"><h3>{{name}}</h3></a>
                        <br/>  Entered on {{formatdate dateentered}}
                    </h5>
                    </p>
                </h3>
            </div>
            <div class="panel-body">
                <small>
                    <span>{{guidename}}</span>
                </small>
                <br/>
                <small>
                    <span> on {{formatdate endDate}}</span>
                </small>
            </div>

        </div>
    </div>
</template>


<template name="showRequest">
    <div class="modal fade in show" id="Request_display" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeRequest" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">Request from</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-striped">

                      {{#each requestForMe}}

                          <tr>
                              <td><p>{{myname}} has sent you a request to join his/her project--{{projectname}}</p></td>
                              <td><button type="button" class="btn btn-default acceptrequest" id="{{_id}}"><a href="/projects/{{projectid}}">Accept</a></button></td>
                              <td><button type="button" class="btn btn-default denyrequest" id="{{_id}}">DENY</button></td>
                          </tr>
                      {{/each}}


                    </table>
                </div>

            </div>
        </div>
    </div>
</template>
<template name="ProjectInfo">
    <div class="modal fade in show" id="ProjectInfo" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeProject" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">New Project</h4>
                </div>
                <div class="modal-body">
                   <input type="text" placeholder="Add a Project" name="createProject" id="createProject" required="">

                    <div class="input-group datetimepicker">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <label>End Date</label><input name="projectEndDate" id="ProjectEndDate" class="set-end-date form-control" type="text"/>
                    </div><br>
                    <label>Add Guide</label>
                    <select id="guideToBeInvited" name="guideToBeInvited" required="">
                        {{#each guideList}}
                            <option value="{{_id}}">{{profile.name}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeProject" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary saveProject">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>