<template name="projectView">
  <div id="example" class="panel">
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/dashboard"><i class="fa fa-cubes"></i> Projects</a></li>
        <li><a  href="/projects/{{_id}}/timeline" class="timelinepage"><i class="fa fa-gear"></i>Project TimeLine</a></li>
        <li><a href="/projects/{{_id}}/myuploads"><i class="fa fa-download">UPLOADS</i></a></li>
<li><a href="{{pathFor route='conversations'}}"><i class="fa fa-cubes"></i>Discussion Forum</a></li>
   <li><a href="{{pathFor route='issuetracker'}}"><i class="fa fa-cubes"></i>Issue tracker</a></li>
<li><a href="{{pathFor route='messagechat'}}"><i class="fa fa-cubes"></i>Message</a></li>
      <li class="active">{{name}}</li>
    </ol>
    {{#if editing_calevent}}
      {{>caltask}}
    {{/if}}
    {{#if adding_todo}}
      {{>todoDlg}}
    {{/if}}
    {{#if email_invite}}

        {{>sendInvite}}

    {{/if}}
    {{#if see_members}}

      {{>showMembers}}

    {{/if}}

    {{#if attachScreenShots}}
      {{>uploadScreenShot}}
    {{/if}}

      <div class="panel panel-default">
      <div class="panel-heading">
        {{>projectPanelHeading}}

      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            {{>activity}}

          </div>
          <div class="col-md-9">

              {{>calendar}}
            </div>

          <div class="col-md-9">

              {{>todos}}
            </div>
            <div class="col-md-9">

                {{>invited}}
              </div>

          </div>
        </div>
      </div>
    </div>

</template>
