<template name="caltask">
  <div class="modal fade in show" id="editCalTask" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeTask" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="">Edit Event</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Event</label>
            <select class="form-control input input-md-4 taskTitle" id="taskTitle" name="taskTitle">
              <option value="">Select</option>
              <option value="milestone">Milestone</option>
              <option value="hoursworked">Hours worked</option>
            </select>
          </div>
          {{#if evttype_milestone}}
          <div class="form-group">
            <label class="label label-default">Milestone Description</label>
            <input type="text" class=" form-control name focus" id="name"
            placeholder="Enter Milestone Description" value=""><br/>

          </div>
          {{/if}}
          {{#if evttype_hoursworked}}
          <div class="form-group">
            <label class="label label-default">Number of Hours</label>
            <input type="number" class=" form-control name focus" id="name" placeholder="Enter Hours Worked"
            value=""><br/>
          </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger deleteCalTask" data-dismiss="modal">Remove</button>
          <button type="button" class="btn btn-default closeTask" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveCalTask">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
