<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invitiation for the project</title>

</head>
<body>
  <p>Hello{{remailaddress}},
      {{sendername}} has invited you to join his project .</p>
    <p><a href="{{linkMail}}">Click Here</a>to join.</p>

</body>
</html>
