<template name="uploadScreenShot">
    <div class="modal fade in show" id="{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeUpload" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">ATTACH A Proof for verification </h4>
                </div>
                <div class="modal-body">

                    <div class="uploadScreenShot">

                        <span class="btn btn-default btn-file">Browse
                            <input type="file" name="myUpload" class="myUpload" ></span>
                        <div class="uploadTable">
                            <table class="table table-hover table-striped table-responsive">
                                <thead>
                                <th>File Name</th>
                                <th></th>
                                </thead>
                                <tbody>
                                {{#each uploads}}
                                    {{>upload}}
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeUpload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary saveUpload">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="upload">
    <tr>
        <td class="col-md-10">{{fileName}}</td>
        <td><a target="_blank" href="{{url download=true}}" class="btn btn-primary"><i class="fa fa-download"></i></a></td>
    </tr>
</template>