<template name="discussions">

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">DISCUSSIONS ABOUT THE ISSUE</h3>
     <textarea rows="2" cols="100" class="text" placeholder="Enter your comment about issue....."></textarea>
<button class="comment" id="{{_id}}">Comment!!!</button> 
    </div>

    <div class="panel-body">
{{>tablenew}}
   <!--   <table class="table table-bordered table-hover table-striped">
        <thead>
             <th class="col-md-2">User</th>
            <th class="col-md-8">Comment</th>

        </thead>
        <tbody>

      </tbody>
      </table> -->
    </div> 
  </div>




 
</template>
<template name="tablenew">
  {{> reactiveTable collection="comments" fields=fields}}
</template>
<template name="discuss">

<tr>
<td class="col-md-2"><a href="#">{{Name}}</a></td>
    <td class="col-md-8"><a href="#">{{Note}}</a></td>
  </tr>

</template>
