<template name="issuetrackerdlg">
  <div class="modal fade in show" id="issueDlg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeissue" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="newissue">New Issue</h4>
        </div>
        <div class="modal-body">
<input type="text" class="issue" id="issue" placeholder="Issue Name"><br>
          <textarea placeholder="Add an issue description" class="form-control issueitem noborder"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeissue" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveissue">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
