<template name="issuetracker">
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">ISSUE TRACKER</h3>
      <p>
       <a href="#" class="addissue" id="addissue"> Create an issue</a>
      </p>
    </div>
{{#if adding_issue}}
      {{>issuetrackerdlg}}
    {{/if}}
    <div class="panel-body">

      <table class="table table-bordered table-hover table-striped">
        <thead>
            <th class="col-md-1">Resolved issue</th>
            <th class="col-md-2">Issue Name</th>
<th class="col-md-2">Issue Description</th>
            <th class="col-md-2">Status</th>
    
 <th class="col-md-2">Discussions</th>
 <th class="col-md-1">Remove Issue</th>
            
        </thead>
        <tbody>
        {{#each issuetrackerss}}

          {{>issue}}

        {{/each}}
      </tbody>
      </table>
    </div>
  </div>

</template>


<template name="issue">

<tr id={{_id}} class="chatrow">
    <td class="col-md-1"><input type="checkbox" name="issueclosed" class="issueclosed" checked="{{completed}}"/></td>
<td class="col-md-2 complete{{completed}}"><a href="#">{{Name}}</a></td>
    <td class="col-md-2 complete{{completed}}"><a href="#">{{Description}}</a></td>
  
 <td class="col-md-2 complete{{completed}}"><a href="#">{{Status}}</a></td>
<td class="col-md-2 complete{{completed}}"><a href="/discussions">{{discussion}}</a></td>

<td class="col-md-1"><button class="removeIssue" id="{{_id}}"><i class="fa fa-trash "></i></button></td>
   
   
  </tr>
</template>
