<template name="profile">
  <div class="container">
    <div class="profile">
      <h2>Edit Profile</h2>
      <form>

        <label>First Name</label><input type="text" placeholder="FIRST NAME" required autofocus id="firstName">
          <label>Last Name</label><input type="text" placeholder="LAST NAME" required autofocus id="lastName">
        

      </form>
    </div>
  </div>

  </template>
